<!--
green: #8dc63f
inverted green = purple: #7239c0

font-family:'NeueHaasGroteskText W01';
font-family:'NHaasGroteskTXW01-56It';
font-family:'NHaasGroteskTXW01-65Md';
font-family:'NHaasGroteskTXW01-66MdI';
font-family:'NHaasGroteskTXW01-75Bd';
font-family:'NHaasGroteskTXW01-76BdI';
font-family:'NHaasGroteskDSW01-15Ult';
font-family:'NHaasGroteskDSW01-16Ult';
font-family:'NHaasGroteskDSW01-25Th';
font-family:'NHaasGroteskDSW01-26ThI';
font-family:'NHaasGroteskDSW01-35XLt';
font-family:'NHaasGroteskDSW01-36XLt';
font-family:'NHaasGroteskDSW01-45Lt';
font-family:'NHaasGroteskDSW01-46LtI';
font-family:'NeueHaasGroteskDisp W01';
font-family:'NHaasGroteskDSW01-56It';
font-family:'NHaasGroteskDSW01-65Md';
font-family:'NHaasGroteskDSW01-66MdI';
font-family:'NHaasGroteskDSW01-75Bd';
font-family:'NHaasGroteskDSW01-76BdI';
font-family:'NHaasGroteskDSW01-95Blk';
font-family:'NHaasGroteskDSW01-96Blk';


 -->

body,td,th {
	font-size:  1.6rem;
	background-color: #f3efef;
}

.invisible{
	display:none;
}


a:link {
	text-decoration: none;
	padding-bottom:5px;
	border-bottom: 1px solid #999999;
}

a:visited {
  
}

a:hover,  .main .naviMainItem a:hover {
	text-decoration: none;
	padding-bottom:5px;
	border-bottom: 5px solid #7239c0;  
}

/* selected link */
a:active {}



.main{
	font-size: 18px;
	font-family:'NeueHaasGroteskDisp W01';
	width:1000px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
}

#navi_main{
	clear:both;¨
	line-height: 1;
	padding-top:40px;
}
.naviMainItem{
	float: left;
	font-size: 14px;
	font-family:'NHaasGroteskDSW01-75Bd';
	
	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:5px;
	letter-spacing: 3px;
}

.firstMainNaviItem{
	padding-right:20px;
}

.main .naviMainItem a{
	color: #8dc63f;
	text-decoration: none;
	padding-bottom:10px;
	border-bottom: 1px solid #999999;
}

.main, .main a, .category .bigItems a{
	color:#000;
}
.main a:hover{
	color: #7239c0;
}



.claim{
	clear:both;
	padding-top:35px;
	padding-bottom:20px;
	font-family:'NHaasGroteskDSW01-75Bd';
	font-size: 32px;
	color:#333;
}

.names{
	padding-right:20px;
	float:left;
	font-size:32px;
	font-family:'NHaasGroteskDSW01-25Th';
	color:#000;
}

.names_contactInfo{
	font-size:18px;
}

.bigItems{
	padding-right:20px;
	float:left;
	font-size:32px;
	font-family:'NHaasGroteskDSW01-25Th';
	line-height: 60px;
	color: #000000;
}

.category{
	clear:both;
}



.category, .category a{
	color: #8dc63f;
}

.borderLeft{
	 border-left: 5px solid  #8dc63f;
	 padding-left: 20px;
	 padding-right: 20px;
	
}
