<!--
green: #8dc63f
inverted green = purple: #7239c0

				 font-family:'NeueHaasGroteskText W01';
font-family:'NHaasGroteskTXW01-56It';
font-family:'NHaasGroteskTXW01-65Md';
font-family:'NHaasGroteskTXW01-66MdI';
font-family:'NHaasGroteskTXW01-75Bd';
font-family:'NHaasGroteskTXW01-76BdI';
font-family:'NHaasGroteskDSW01-15Ult';
font-family:'NHaasGroteskDSW01-16Ult';
font-family:'NHaasGroteskDSW01-35XLt';
font-family:'NHaasGroteskDSW01-26ThI';
font-family:'NHaasGroteskDSW01-35XLt';
font-family:'NHaasGroteskDSW01-36XLt';
font-family:'NHaasGroteskDSW01-45Lt';
font-family:'NHaasGroteskDSW01-46LtI';
font-family:'NeueHaasGroteskDisp W01';
font-family:'NHaasGroteskDSW01-56It';
font-family:'NHaasGroteskDSW01-65Md';
font-family:'NHaasGroteskDSW01-66MdI';
font-family:'NHaasGroteskDSW01-75Bd';
font-family:'NHaasGroteskDSW01-76BdI';
font-family:'NHaasGroteskDSW01-95Blk';
font-family:'NHaasGroteskDSW01-96Blk';


-->


body,td,th {

}

html{
	height: 100%;
}
body{
	height: 100%;
}

#cover, #coverLoad{
	width: 5px;
	height: 100%;
	position: fixed;
	background-color: #8dc63f;
	background-position: 0% 20%;
	background-repeat: no-repeat;
	right: 0;
	z-index: 2;
}

#coverLoad {
	background-image: url("../assets/curtain_graphics/intro.png");
}

#bigImage {
	position: absolute;
	z-index: -1;
	max-height: 75%;
	/*left: 200px !important;*/
	/*top: 40px !important;*/
}

h2, h3, h5{
	clear:both;
}

h2, h3{
	font-family:'NHaasGroteskDSW01-75Bd', Arial, serif;
	color:#333;

}
h2{
	line-height:120%;
	font-size: 28px;
}
h3{
	font-size: 24px;
}


a:link {
	text-decoration: none;
	padding-bottom:5px;
	/*border-bottom: 1px solid #999999;*/
}

a:visited {

}

a:hover,  .main .naviMainItem a:hover, .main .naviMainItem a.active {
	text-decoration: none;
	padding-bottom:5px;
	color: #7239c0;
	
	/*border-bottom: 5px solid #7239c0;*/
	/*cursor: url(../assets/myCursor.png), auto; */

}

/* selected link */
a:active {}



.main{
	font-size: 18px;
	font-family: 'NeueHaasGroteskDisp W01', Arial, serif;
	width:850px;
	min-height: 100%;
	margin-left: 15%;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
	text-align:left;
	background: rgb(255, 255, 255); /* Fall-back for browsers that don't
                                    support rgba */
    background: rgba(255, 255, 255, .75);

}

#navi_main{
	clear:both;¨
	line-height: 1;
	padding-top:40px;
}
.naviMainItem{
	float: left;
	font-size: 14px;
	font-family:'NHaasGroteskDSW01-75Bd';

	text-transform: uppercase;
	padding-top:10px;
	padding-bottom:5px;
	
	letter-spacing: 3px;

}
.show_bg_image{
	padding: 0 !important;
	border-bottom:none !important ;
}

.firstMainNaviItem{
	padding-right:20px;
}

.main .naviMainItem a{
	color: #8dc63f;
	text-decoration: none;
	padding-bottom:10px;
	/*border-bottom: 1px solid #999999;*/
	/*cursor: url(../assets/myCursor.png), auto;*/
}

.main, .main a, .category .bigItems a{
	/*color:#333;*/
}
.main a:hover{
	border-bottom: 5px solid #7239c0;
}




.claim{
	clear:both;
	padding-top:35px;
	padding-bottom:40px;
	font-family:'NHaasGroteskDSW01-75Bd', Arial, serif;
	font-size: 28px;
	color:#333;
}

.names{
	padding-right:20px;
	float:left;
	font-size:28px;
	font-family:'NHaasGroteskDSW01-35XLt';
	color:#333;
}

.names_contactInfo,
.readMore{
	letter-spacing: 1.5px;
	font-family:'NHaasGroteskDSW01-35XLt';
	color:#333;
	font-size:20px;
}
.readMore{
	line-height:35px;
	clear:both;
}

.more{
	display:none;
}

.address{
	clear:both;
	font-family:'NHaasGroteskDSW01-35XLt';
	padding-top:35px;
	font-size:18px;
	color:#333;
}

.bigItems{
	
	padding-right:20px;
	float:left;
	font-size:28px;
	font-family:'NHaasGroteskDSW01-35XLt';
	line-height: 30px;/* determines height of vertical separator line*/
	color: #333;
	letter-spacing:0px; 
}

.aktuell2{
	clear:both;
	padding-top:0px;
	font-size: 18px;
	font-family: 'NeueHaasGroteskDisp W01', Arial, serif;
	color:#333;
}

.aktuell2 .date{
	font-size:14px;
	color: #333;
	letter-spacing:2px;
	padding-top:20px;
}

.category{
	clear:both;
	color:#333;
	line-height:25px;
	letter-spacing:0.8px; 
}

.category a{
	color: #8dc63f;
}
.subcategories .content{
	display: block;
}
#firma .subcategory h2:not(.top){
	padding-top:45px;/**/
}

.h2_top{
	padding-top:-45px;
}

.subcategory h3{
	padding-top:30px;
}

.subcategory h5,
.listHeader{

	padding-bottom:12px;
	font-size: 14px;
	font-family:'NHaasGroteskDSW01-75Bd';
	color: #8dc63f;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.listHeader{
	padding-right:15px;
	cursor: pointer;

}

.unorderedList{
	padding-top:20px;
}

.aktuellHolder{
	padding-top:50px;
	clear:both;
}

.featured,
.aktuell{
	clear:both;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:6px;
	padding-right:3px;

	font-size: 14px;
	font-family:'NHaasGroteskDSW01-75Bd';
	color:#ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.aktuell{
	float:left;
}

.featured{
	background-color:  #8dc63f;
}

.aktuell{
	background-color: #7239c0;
}




.listitem{
	list-style: none;
	display:list-item;
	list-style-position:outside;
	line-height:25px;


}

.borderLeft{
	border-left: 5px solid  #8dc63f;
	padding-left: 20px;
	padding-right: 20px;
}

.subcategories{
	clear:both;
	padding-top:55px;
	color:#333;
}

.quote{

	font-family:'NHaasGroteskDSW01-46LtI';
	font-size:24px;
	line-height:130%;
	color:#333;
}

.bigQuotes{
	font-family:'NHaasGroteskDSW01-75Bd', Arial, serif;
	color: #8dc63f;
}
.navi_sub span a.active{
	color: #7239c0;
/*	border-bottom: 5px solid #7239c0 !important;*/

}
span.listHeader.active{
color:#7239c0 !important; ;
}

.swipe_index{
	position: relative;
	z-index: 1;
}

#firma .date{
	display: inline-block;
	width: 110px;
}
#kontakt .name{
	display: inline-block;
	padding-top:20px;
	padding-bottom:5px;
	font-size: 14px;
	font-family:'NHaasGroteskDSW01-75Bd';
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
}
#kontakt .phone{
	display: inline-block;
	width: 135px;
}
#kontakt .email{
	display: inline-block;
	width: 260px;
}
.arrow_icon{
	padding-right: 15px !important;
}
